---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCardGroup from "../../components/HorizontalCardGroup.astro";
import Tags from "../../components/Tags.astro";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueTags = [... new Set(allPosts.map(post => post.data.tags).flat())];

  return uniqueTags.map(tag => {
    const filteredPosts = allPosts.filter(post => 
      post.data.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <div class="flex justify-center">
    <h2 class="prose-2xl font-bold">Tags</h2>
  </div>
  <Tags selected={tag}/>
  <div class="divider mt-4 mb-0" />
  <HorizontalCardGroup data={posts} />
</BaseLayout>