---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
const pageTitle = "Tags";
---

<BaseLayout title={pageTitle}>
  <div class="flex justify-center">
    <h2 class="prose-2xl font-bold">Tags</h2>
  </div>
  <Tags />
  <div class="divider mt-4 mb-0" />
</BaseLayout>