---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="flex flex-col gap-8 md:flex-row md:justify-between md:items-center">
        <div class="w-full md:w-1/2">
          <div class="text-xl py-1">Hello! 👋</div>
          <div class="text-5xl font-bold">Kenny W. Lino</div>
          <div class="text-3xl py-3 font-bold">Software Developer</div>
          <div class="py-2">
            <text class="text-lg sm:flex-1">
              <p class="py-4">
              I'm a full-stack developer with a passion for creating intuitive applications and tools that provide users with a memorable and positive experience. 
              </p>
              <p>
              I am proficient with React, Express.js, Node.js, MongoDB, and PostgreSQL along with other popular JavaScript tools. With a background in linguistics and natural language processing, I bring analytical and communication skills that translate well into the tech space.
              </p>
            </text>
          </div>
          <div class="mt-8 flex gap-5 justify-center md:justify-start">
            <button class="btn rounded-full">
              <a href="https://www.linkedin.com/in/kennywlino/" target="_blank" class="flex items-center gap-3">
                <p class="hidden md:inline-block">LinkedIn</p>
                <svg class="h-6 w-6 fill-secondary" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1168 601.321v74.955c72.312-44.925 155.796-71.11 282.643-71.11 412.852 0 465.705 308.588 465.705 577.417v733.213L1438.991 1920v-701.261c0-117.718-42.162-140.06-120.12-140.06-74.114 0-120.12 23.423-120.12 140.06V1920l-483.604-4.204V601.32H1168Zm-687.52-.792v1318.918H0V600.53h480.48Zm-120.12 120.12H120.12v1078.678h240.24V720.65Zm687.52.792H835.267v1075.316l243.364 2.162v-580.18c0-226.427 150.51-260.18 240.24-260.18 109.55 0 240.24 45.165 240.24 260.18v580.18l237.117-2.162v-614.174c0-333.334-93.573-457.298-345.585-457.298-151.472 0-217.057 44.925-281.322 98.98l-16.696 14.173H1047.88V721.441ZM240.24 0c132.493 0 240.24 107.748 240.24 240.24 0 132.493-107.747 240.24-240.24 240.24C107.748 480.48 0 372.733 0 240.24 0 107.748 107.748 0 240.24 0Zm0 120.12c-66.186 0-120.12 53.934-120.12 120.12s53.934 120.12 120.12 120.12 120.12-53.934 120.12-120.12-53.934-120.12-120.12-120.12Z" fill-rule="evenodd"/>
                </svg>
              </a>
              </button>
              <button class="btn btn-outline rounded-full">
                <a href="https://github.com/kennywlino" target="_blank" class="flex items-center gap-3">
                  <p class="hidden md:inline-block">GitHub</p>
                  <svg class="h-8 w-8 fill-secondary" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"/>
                  </svg>
                </a>
                </button>
          </div>
        </div>
        <img src="/assets/profile.jpg" alt="profile" class="w-full rounded-3xl md:w-1/2 md:h-1/2 md:rounded-full">
      </div>
    </div>

    <!-- <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div> -->

    <!-- <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
